include/*.h
libs/calculon/*.o
libs/calculon/*.a
libs/data/*.o
libs/data/*.a
libs/*.a
libs/netlib/blas/SRC/*.o
libs/netlib/blas/*.a
libs/netlib/cephes/*.a
libs/netlib/cephes/*.o
libs/netlib/lapack/SRC/*.o
libs/netlib/lapack/*.a
libs/netlib/toms/l*.a
libs/netlib/toms/*.o
libs/simulator/**/*.o
libs/simulator/*.a
libs/simulator/math/*.o
libs/superlu/SRC/*.o
libs/superlu/*.a
module/simulator_.so
